section {
    background-color: #576cbc;
    color: #fff;
  }
  h1 {
    text-align: center;
  }
  h2 {
    background-color: #a5d7e8;
    color: black;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: #FFB4B4;
  
  }
  