html{
    height: 100%;
}

body{
    background-image: url(../../img/bn_bg_wide.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    /* background-position: right 20px bottom 10px; */
}
