
body{
    color: white;
    background-image: url(../../img/horror-cemetery-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}