/* border-style
border-width
border-color
border */

.box1 {
    width: 250px;
    height: 250px;
    background-color: orangered;
    border-style: dotted;
    border-width: 5px;
    border-color: white pink yellow black
}
.box2 {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    background-color: lime;
    border:dashed black; 
}