.text {
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  color: brown;
  columns: 4 300px;
  column-gap: 40px;
  column-rule-style: dotted;
  column-rule-color: red;
  column-rule-width: 8px;
  /* 
    column-count: 4; 
    column-width:200px;
    */
}
.text h3{
    column-span: all;
}