.hesapmakinesi {
    background-color: black;
    width: 250px;
    height: 205px;
}

.input {
    background-color: black;
    color: white;
    font-size: 40px;
    text-align: right;
    height: 100px;
    width: 242px;
    border-color: black;
}

.silmek {
    background-color: silver;
    color: black;
    width: 180px;
    height: 40px;


}

.işlemler {
    background-color: orange;
    color: white;
    width: 66px;
    height: 40px;

    text-align: center;
}

.sıfır {
    background-color: grey;
    color: white;
    width: 118px;
    height: 40px;

}

.keys {
    background-color: grey;
    color: white;
    width: 57px;
    height: 40px;

}