input[type="radio"]:checked + span{
    color:orange
}

.button::before {
    content: attr(data-hide);
}
.checkbox:checked + .button::before{
    content: attr(data-show);
}
.checkbox:checked + .button + .box{
    display: none;
}