div {
    margin-bottom: 15px;
    text-decoration-line: underline overline;
    text-decoration-color: lime;
    text-decoration-style: double ;
/* text-decoration: underline oveline lime double; */
}
div:last-of-type {
    text-decoration: none;

}
